<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="W-UA-Compatible" content="ie=edge">

        <link rel = "stylesheet" type = "text/css" href = "css/myStyle.css" />

        <title>Shops In Region</title>
    </head>

    <body>
        <div class="mainDiv">
            {{{body}}}
        </div>
    </body>
</html>