<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>

<a href="/nearbyShops">Nearby Shops</a>
<a href="/preferredShops">My Preferred Shops</a>

{{#each shopsData}}

<div class="card">
    <form method="POST">
        <div class="title" >
            <input type="hidden" name="title" value={{ title }}>
            <h1>{{ title }}</h1>
        </div>
        <div class="image">
            <img src={{ imageLink }}>
        </div>
        <div class="des">
            <button type="submit" formaction="/disLikeShop">DisLike</button>
            <button type="submit" formaction="/likeShop">Like</button>
        </div>
    </form>
</div>

{{/each}}