<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>

<a href="/nearbyShops">Nearby Shops</a>
<a href="/preferredShops">My Preferred Shops</a>

{{#each shopsData}}
<div class="card">
    <div class="title">
        <h1>{{ title }}</h1>
    </div>
    <div class="image">
        <img src={{ imageLink }}>
    </div>
    <div class="des">
        <button>Remove</button>
    </div>
</div>
{{/each}}